body {
  text-align: center;
}
#forecast {
  border-radius: 60pt;
  margin-top: 20pt;
  background-color: rgb(205, 243, 255);
  border: none;
}
.card-title {
  margin-left: 10pt;
}

.dateTime {
  margin-left: 20px;
  font-size: larger;
}

.currentDaySpecifications {
  margin-top: 15pt;
  font-size: small;
  margin-left: 25pt;
}

#currentcitydeg {
  font-size: 50px;
  margin-left: -10pt;
}
#weatherDescription {
  font-size: small;
}
#units {
  font-size: small;
  top: -25px;
}
#units a {
  text-decoration: none;
}

#currentcity {
  color: blue;
}

#day1,
#day2,
#day3,
#day4,
#day5,
#days {
  color: rgb(20, 195, 20);
  font-size: small;
  background-color: rgb(205, 243, 255);
}

#temp1,
#temp2,
#temp3,
#temp4,
#temp5,
#temps {
  font-size: smaller;
  background-color: rgb(205, 243, 255);
}
#searchcityinput {
  width: 75%;
  margin-top: 20px;
  margin-left: 5px;
  display: inline;
}
#searchicon {
  margin-left: -40px;
  border-radius: 50%;
  background-color: rgb(134, 134, 250);
}
#searchcitybuttom {
  border-radius: 30px;
  color: rgb(0, 0, 255);
  background-color: rgb(134, 134, 250);
  border: 0px;
  margin-left: 5px;
}
#currentcitybutton {
  display: inline;
  border-radius: 30px;
  color: rgb(0, 0, 255);
  background-color: rgb(134, 134, 250);
  border: 0px;
  margin-left: 5px;
}
#citySearch {
  display: inline;
}
#weatherIcon {
  vertical-align: top;
}
